<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>MTG Cards Selling Prices Search</title>
  </head>
  <body>
      <h1>Busca preços de cartas no site mtgbrasil.com.br</h1>
      <form id="cardSearch" action="/cardSearch" method="post">
          <input name="cardName" type=text placeholder="Enter the card name">
          <input name="submit" type="submit" value="Consultar">
      </form>
  </body>
</html>